* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: Caffeefont;
  src: url(font2.woff2);
}
@font-face {
  font-family: imbue-bold;
  src: url(Imbue-TextThin.otf);
}
@mixin flex($direction: row, $gap: 0rem) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
body {
  padding: 0.4rem;
  background-color: #faf7ed;
  font-family: Caffeefont;

  main {
    padding: 0.4rem;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(40, 44, 21, 0.15);
    border-radius: 1.1875rem;

    header {
      border: 2px solid rgba(40, 44, 21, 0.15);
      padding: 1rem;
      border-radius: 0.6875rem;
      height: min-content;

      nav {
        padding: 1rem;
        border: 2px solid rgba(40, 44, 21, 0.15);
        border-radius: 0.625rem;
        @include flex(row, 1rem);

        .hamburger {
          font-size: 1.4rem;
          color: brown;
        }

        .logo-img {
          width: 8rem;
          img {
            width: 100%;
          }
        }

        p {
          padding-left: 1.6rem;
          padding-top: 0.25rem;
          color: #ab8051;
          font-size: 0.75rem;
          letter-spacing: 0.0625rem;
          line-height: 1em; /* or 1rem if you prefer */
        }
      }

      .booking {
        padding: 2.75rem;
        width: 100%;

        .top {
          @include flex(row, 0.6rem);
          height: 4.375rem;

          h1 {
            margin-left: 0.25rem;
            font-family: imbue-bold;
            font-size: 4.75rem;
          }

          img {
            object-position: center;
            object-fit: cover;
            border-radius: 0.8125rem;
            margin-top: 1rem;
          }
        }
        .bottom {
          @include flex(row, 0.6rem);
          height: 4.375rem;

          h1 {
            margin-left: 0.25rem;
            font-family: imbue-bold;
            font-size: 4.75rem;
          }

          img {
            object-position: center;
            object-fit: cover;
            border-radius: 0.8125rem;
            border-radius: 0.8125rem;
            margin-top: 1.3125rem;
          }
        }

        button {
          background-color: #282c15;
          padding: 0.875rem;
          margin-top: 3rem;
          display: block;
          margin-left: auto;
          margin-right: auto;
          color: white;
          border-radius: 0.75rem;
          padding: 1.2rem;
          letter-spacing: 0.0625rem;


        }
      }
    }
  }
}
